<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="/static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>
<body>    
    <div class="container">
        <div th:replace="~{fragments/navibar::navibar}"></div>
    </div>

        <!-- -----ORders Details -->

        <h2 class="title">Order details</h2>
        <div class="small-container order-details">
            <div class="orderdetails-buttons">
                <a th:href="@{/orders}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Orders</a>

            </div>
            
            <div class="order-box">
                <div class="order-first-info">
                    <div class="order-shipment-status">
                        <p th:if="${order.shipped == false}"><i class="fa fa-circle" aria-hidden="true"></i>Waiting for shipment..</p>
                        <p th:if="${order.shipped == true && order.paymentSuccessfull == false}" id="ordershipped" ><i class="fa fa-circle" aria-hidden="true"></i>Order is on its way..</p>
                        <p th:if="${order.paymentSuccessfull == true}" id="ordercompleted"><i class="fa fa-circle" aria-hidden="true"></i>
                                Order completed.</p>

                    </div>
                    <div class="order-date-created">
                        <p ># <span th:text="${#temporals.format(order.date, 'dd-MM-yyyy HH:mm')}"></span></p>
                    </div>
                </div>

                <div class="order-personal-info">
                    <div class="order-user-info">
                        <p>Name: <span th:text="${user.firstName}"></span> </p>
                        <p>Lastname: <span th:text="${user.lastName}"></span></p>
                        <p>Email: <span th:text="${user.email}"></span></p>
                        <p th:if="${user.mobile != null}">Mobile: <span th:text=${user.mobile}></span></p>
                        <p th:if="${order.payOnAddress == null}">Payed with card: x-x-x-<span th:text="${order.cardDetails.lastFourDigits}"></span></p>
                        <p th:if="${order.payOnAddress != null}">Payed on address</p>
                    </div>
                    <div class="order-user-address-info">
                        <p>Street: <span th:text=${user.address.street}></span></p>
                        <p>City: <span th:text=${user.address.city}></span></p>
                        <p>ZipCode: <span th:text=${user.address.zipCode}></span></p>
                        <p>Country: <span th:text=${user.address.country}></span></p>

                    </div>

                    
                </div>
                <div class="order-details-products" th:each="product : ${order.details}">
                    <div class="order-details-product-image">
                        <img th:src="*{'data:image/png;base64,'+ {product.product.image}}"/>
                    </div>

                    <div class="order-details-product-info">
                        <p th:text=${product.product.name}></p>
                        <p th:text="${product.quantity + ' x ' + product.productPrice + '&#8364'}"></p>

                    </div>
                    

                </div>
                <div class="total-price">
                    <table>
                        <tr>
                            <td>Total</td>
                            <td th:text="${order.orderTotalAmount} + '&#8364'">235$</td>
                        </tr>
                    </table>
                </div>
                <div class="order-details-confirm-button" th:if="${order.shipped == true && order.paymentSuccessfull == false}">
                    <form th:action="@{/order/confirm/{id} (id=${order.id})}" method="POST">
                    <button type="submit" class="btn" id="confirm-order-details" >Confirm order recieved</button>
                </form>
                </div>

            </div>
            
        </div>
        




    <!-- footer -->
    <div th:replace="~{fragments/footer::footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>