<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Product Managment</title>
    <link rel="stylesheet" th:href="@{/css/gazda.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>

    <!-- Nav bar TOP -->

    <div th:replace="~{fragments/adminnav::adminnav}"></div>






    <div th:replace="~{fragments/adminproductsidenav::productsidenav}"></div>




    <!-- content -->
    <h2 th:if="${#lists.isEmpty(brandList)}"> Your brand list is empty. <a th:href="@{/addbrand}">First add brands</a></h2>
    <h2 th:if="${#lists.isEmpty(categoryList)}"> Your category list is empty. First add category</h2>

    
    <div class="main">
        
        
        <div class="form-container">
            <form id="AddProductForm" class="box" th:action="@{/addproduct}"
                enctype="multipart/form-data" method="post">
                <div class="col-22">
                    <label for="name">Product Name </label>
                    <input type="text" th:field="${product.name}"  autofocus />
                    <p class="errormsg" if="${#fields.hasErrors('product.name')}" th:errors="*{product.name}">error</p>
                    
                    <label for="price">Product price </label>
                    <input type="number" min="1" th:field="${product.price}"/>
                    <p class="errormsg" if="${#fields.hasErrors('product.price')}" th:errors="*{product.price}">error</p>
                    
                    <label for="stock">Stock number</label>
                    <input type="number" min="1" th:field="${stock.quantity}" />
                    <p class="errormsg" if="${#fields.hasErrors('stock.quantity')}" th:errors="*{stock.quantity}">error</p>

                    <select th:field="${product.brand}">
                        <option value="">Select Product Brand</option>
                        <option th:each="brand:${brandList}" th:value="${brand.id}"
                            th:utext="${brand.name}" />
    
                    </select>
                    <p class="errormsg" if="${#fields.hasErrors('product.brand')}" th:errors="*{product.brand}">error</p>

                    <select th:field="${product.category}">
                        <option value="">Select Category Brand</option>
                        <option th:each="category:${categoryList}" th:value="${category.id}"
                            th:utext="${category.name}" />
    
                    </select>
                    <p class="errormsg" if="${#fields.hasErrors('product.category')}" th:errors="*{product.category}">error</p>
       
                </div>

                <div class="col-23">
                    <label for="image">Product Image </label>
                    <input type="file" name="image" th:name="file" class="" id="exampleFormControlFile1"></input>
                    <p class="errormsg" if="${#fields.hasErrors('product.image')}" th:errors="*{product.image}">error</p>
                            
                    <br/>
                    <label for="descrition">Product descrption </label>
                    <textarea type="text" th:field="${product.description}"></textarea>
                    <p class="errormsg" if="${#fields.hasErrors('product.description')}" th:errors="*{product.description}">error</p>


                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="passbtns">
            <a id="Goback" th:href="@{/productmanagment}">Back</a>
            <button form="AddProductForm" type="submit" id="Goback" value="Save Infos">Save</button>
        </div>
    </div>




    
        <!-- <div class="main admin-panel productadd">
            <div class="row">
            <div class="form-container">
                <form id="SiteInfoEditForm" class="box" th:action="@{/addproduct}"
                enctype="multipart/form-data" method="post">

                    <div class="div col-222">
                        <label for="name">Product Name </label>
                        <input type="text" th:field="${product.name}"  autofocus />
                        <p class="errormsg" if="${#fields.hasErrors('product.name')}" th:errors="${product.name}">error</p>
                        
                        <label for="price">Product price </label>
                        <input type="number" min="1" th:field="${product.price}"/>
                        <p class="errormsg" if="${#fields.hasErrors('product.price')}" th:errors="${product.price}">error</p>

                        <br/>

                        <label for="stock">Stock number</label>
                        <input type="number" min="1" th:field="${stock.quantity}" />
                        <p class="errormsg" if="${#fields.hasErrors('stock.quantity')}" th:errors="${stock.quantity}">error</p>

                        <select th:field="${product.brand}">
                            <option value="">Select Product Brand</option>
                            <option th:each="brand:${brandList}" th:value="${brand.id}"
                                th:utext="${brand.name}" />
    
                        </select>

                        <select th:field="${product.category}">
                            <option value="">Select Category Brand</option>
                            <option th:each="category:${categoryList}" th:value="${category.id}"
                                th:utext="${category.name}" />
    
                        </select>

                    </div>

                        

                        <div class="div col-233">
                            <label for="image">Product Image </label>
                            <input type="file" th:field="${product.image}" class="" id="exampleFormControlFile1"></input>
                            <p class="errormsg" if="${#fields.hasErrors('product.image')}" th:errors="${product.image}">error</p>
                            
    
                            <label for="descrition">Product descrption </label>
                            <textarea type="text" th:field="${product.description}"></textarea>
                            <p class="errormsg" if="${#fields.hasErrors('product.description')}" th:errors="${product.description}">error</p>
    
                            
                        </div>
                        
                        
                    </form>
                </div>
                </div>
                
                
            </div> -->




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
    </script>
</body>

</html>